{{ $tabs := .Scratch.Get "tabs" }}
<div class="tab-wrapper">
    {{- range $i, $panel := $tabs -}}
        <input class="tab-radio" id="{{ printf "checkbox-%d" $i }}" name="tabs" type="radio" {{ if eq $i 0  }} checked {{- end -}}>
    {{- end -}}
    <div class="tabs">
        {{- range $i, $panel := $tabs -}}
            <label class="tab" id="{{ printf "tab-%d" $i }}" for="{{ printf "checkbox-%d" $i }}">{{ .Title }}</label>
        {{- end -}}
    </div>
    <div class="panels">
        {{- range $i, $panel := $tabs -}}
             <div class="panel" id="{{ printf "panel-%d" $i }}">
                 {{ partial "tabs/content.html" . }}
             </div>
         {{- end -}}
    </div>
</div>
