#package.json
patches
node_modules
docs
resources
yarn-error.log
static/images/favicon*
static/images/header.svg
static/images/burger.svg
static/images/down.svg
# Generated contents
resources
content/post/**/preview.png
content/post/*/front/
content/post/*/title/
content/post/*/end/
content/post/*/back/
content/post/*/cover/
content/post/*/img*/
content/post/*/page*/
content/post/*/end-*/
content/post/*/front-*/
static/images/stars.svg
