/* See https://fontlibrary.org/en/font/futura-renner */
@font-face {
  font-family: 'FuturaRennerRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FuturaRenner-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/FuturaRenner-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/FuturaRenner-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/FuturaRenner-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/FuturaRenner-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/FuturaRenner-Regular.svg#futurarennerregular') format('svg'); /* Legacy iOS */
}

$font-body-font: 'FuturaRennerRegular' !default;

$brick-bg-color: #660000 !default;
$frame-bg-color: darken($brick-bg-color, 20%);

$color-body-text: hsl(48, 93%, 89%) !default;
$color-link-text: hsl(48, 93%, 89%) !default;
$color-bg: #112e63 !default;

@import "icons";
@import "ol-iiif";

body {
    font-family: $font-body-font, Helvetica;
    font-size: 1.125em;
    color: $color-body-text;

    background-image: url(/images/stars.svg);
    background-color: $color-bg;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
}

main {
    margin: 1.2em auto;
    padding: 5%;
    width: 85%;
    margin: auto;

    @media (min-width: 56em) {
        margin: 3em auto;
    }
}

.navigation, .footer {
font-size: 1.625em;
}

.pagination {
    display: block;
    margin: auto;
    width: fit-content;
    padding-bottom: 1.4em;
}

.top-nav {
    width: 100%;
    /* padding: 0.2em 0; */
    margin: 0 auto 1em;
    position:relative;
    background-color: $brick-bg-color;

    .navigation-title {
        padding-left: 1em;
        font-size: 2em;
        font-weight: 700;
        @media (max-width : 20em) {
            font-size: 1.5em;
        }
    }

    .float-right {
        float: right;
    }

    .menu {
        font-size: 2em;
        vertical-align: middle;
        @media (max-width : 20em) {
            font-size: 1.5em;
        }
    }

    .container {
        padding: .6em;
    }

    .navigation-list {
        list-style-type: none;
        float: right;
        padding-right: 1em;
        margin-block-start: 0;
        margin-block-end: 0;
        height: 2em;
        line-height: 2em;
        text-align: center;
        @media (max-width : 56em) {
            position: absolute;
            top: 3rem;
            right: 0;
            left: 0;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            padding: 0;
            max-height: 0;
            width: auto;
            background-color: #fafafa;
            border-top: solid 2px $color-body-text;
            border-bottom: solid 2px $color-body-text;
            transition: opacity 0.25s, max-height 0.15s linear;
            height: auto;
        }
        @media (max-width : 20em) {
            top: 2.4rem;
        }

        .navigation-item {
            vertical-align: middle;
            display: inline;
            padding-left: .6em;
            @media (max-width : 56em) {
                float: none !important;
                text-align: center;
                display: block;

                a,
                a:active,
                a:focus,
                a:hover,
                a:visited {
                    color: $color-body-text;
                }

                a,
                span {
                    line-height: 3rem;
                    font-size: 1.6em;
                    text-transform: uppercase;
                    font-weight: bold;
                }

            }

            @media (max-width : 20em) {
                a,
                span {
                    line-height: 2.4rem;
                    font-size: 1.2em;
                }
            }

        }
    }
    &:after {
        background: $brick-bg-color;
    }
}

.page-container{
  position: relative;

  &:after {
    background: $color-bg;
  }
}

.zigzag:after {
    /* background: $brick-bg-color; */
    content: "";
    height: 2vw;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    clip-path: polygon(
       0 0, 2.5% 100%, 5% 0,  7.5% 100%,
     10% 0,12.5% 100%,15% 0, 17.5% 100%,
     20% 0,22.5% 100%,25% 0, 27.5% 100%,
     30% 0,32.5% 100%,35% 0, 37.5% 100%,
     40% 0,42.5% 100%,45% 0, 47.5% 100%,
     50% 0,52.5% 100%,55% 0, 57.5% 100%,
     60% 0,62.5% 100%,65% 0, 67.5% 100%,
     70% 0,72.5% 100%,75% 0, 77.5% 100%,
     80% 0,82.5% 100%,85% 0, 87.5% 100%,
     90% 0,92.5% 100%,95% 0, 97.5% 100%, 100% 0);
 }

/* See https://stackoverflow.com/a/54160649 */

.brick {
    display: inline-block;
    background-color: $brick-bg-color;
    border-radius: .5em;
    margin: .3em;
    display: flex;


    .preview {
        display: inline-block;
        margin-right: .6em;
        height: 200px;
        border-radius: .5em 0 0 .5em;
        background-repeat: no-repeat;
    }

    &.landscape .preview {
        width: 15em;
    }

    &.portrait .preview {
        width: 10em;
    }

    .summary {
        display: inline-block;
    }
}

#menu-toggle {
    display: none;
    @media (max-width : 50em) {
        &:checked + label + ul {
            visibility: visible;
            opacity: 1;
            max-height: 100rem;
        }
    }
}

.menu-button {
    margin-right: 2em;
    cursor: pointer;

    @media (max-width : 20em) {
        margin-right: 1.5em;
    }

    &:focus,
    &:hover {
        color: $color-link-text;
    }
}

@media (min-width: 56em) {
    .menu-button {
        display: none;
    }
}

.footer {
    width: 100%;
    padding: 1.5em 0 .5em;
    margin: 0 auto 0;
    background-color: $brick-bg-color;

    .menu-footer {
        .menu {
            list-style-type: none;
            text-align: center;

            .menu-footer-items {
                padding-top: .6em;
                padding-inline-start: 0;
                display: inline-block;
                margin-block-start: 0em;
                margin-block-end: 0em;
            }

            .menu-item {
                padding: .4em .8em;
                display: inline;
            }
        }

    }

    .credit {
        text-align: center;
        margin-top: 0.8em;
        font-size: smaller;

        p {
            margin: auto;

            &.projektemacher {
                padding: 0.6em 0;
            }

        }
    }

}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    color: $color-body-text;
}

body.about {
    background-position: 97% 5em;
    background-image: url("/images/cm.svg");
    background-repeat: no-repeat;
}

.share {
    text-align: end;
    font-size: small;
    line-height: normal;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;

    a {
        text-decoration: none;
    }
}
