@import "normalize";
@import "fonts/futura-renner";
/* Source: https://www.onlinewebfonts.com/download/3e8042d2739cb66ae6ef7ffc372014db */
@font-face {
    font-family: "Neuland";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Neuland.woff2") format("woff2"), url("/fonts/Neuland.woff") format("woff");
}
$font-body: 'FuturaRennerRegular' !default;
$font-heading: 'Neuland' !default;
$brick-bg-color: #660000 !default;
$frame-bg-color: darken($brick-bg-color, 7.5%);
$color-body-text: hsl(48, 93%, 89%) !default;
$font-color-body: $color-body-text;
$color-link-text: hsl(48, 93%, 89%) !default;
$color-bg: #112e63 !default;
$mortar-color: darken($color-body-text, 25%);
$color-light: $color-body-text;
@import "icons";
@import "ol-iiif";
@import "share.scss";
@import "media-info";
@import "menu";
@import "tabs";
@import "timeline";

body {
    font-family: $font-body, Helvetica;
    font-size: 1.125em;
    color: $color-body-text;
    background-color: $color-bg;
    background-image: url("/images/stars.svg");
    background-size: contain;
    background-position: top;
    background-attachment: fixed;

    &.about {
        background: url("/images/stars.svg") fixed, url("/images/cm.svg") no-repeat;
        background-color: $color-bg;
        background-position: top, 97% 7em;
        background-size: contain, auto;
    }

    &.meta {
        .brick {
            &.post {
                width: 60%;
                margin: auto;
                @media (max-width : 45em) {
                    width: 100%;
                }

                .title {
                    word-break: break-all;
                }
            }

            .body.list {
                width: unset;
            }
        }
    }
}

main {
    margin: 1.2em auto;
    padding: 5%;
    width: 85%;
    box-sizing: border-box;
    @media (max-width : 45em) {
        padding: 1em;
        margin: 0.6em auto;
    }
    @media (max-width : 30em) {
        padding: 0.5em;
        margin: unset;
        width: unset;
    }
    @media (max-width : 20em) {
        padding: 0.5em;
    }
    @media (min-width: 56.25em) {
        margin: 3em auto 0;
    }

    &.content {
        width: 100%;
    }

    &.term {
        padding-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $font-heading;
}

.error404 {
    text-align: center;
}

.footer,
.navigation {
    font-size: 1.625em;
}

.navigation.pagination {
    display: block;
    margin: auto;
    width: max-content;
    padding-top: 0.4em;
    padding-bottom: 1.4em;
}

#menu-toggle {
    display: none;
    @media (max-width : 56.25em) {
        &:checked + label + ul {
            visibility: visible;
            opacity: 1;
            max-height: 100rem;
            display: block;
        }
    }
}

.top-nav {
    width: 100%;
    margin: 0 auto 1em;
    position: relative;
    background-color: $frame-bg-color;

    .title {
        display: inline-block;
        max-width: 70%;
        width: 55vw;
        margin-left: 2rem;
        vertical-align: middle;
        min-width: 45vw;
        @media (max-width : 56.25em) {}
        @media (max-width : 45em) {
            max-width: 80%;
            min-width: 75vw;
            margin-left: 1rem;
        }
        @media (max-width : 30em) {
            max-width: 90%;
            min-width: 75vw;
            margin-left: 0.5rem;
        }
        @media (max-width : 20em) {
            max-width: 90%;
            min-width: 75vw;
            margin-left: 0.2rem;
        }
    }

    .navigation-title {
        margin-left: 2rem;
        @media (max-width : 45em) {
            margin-left: 0.8rem;
            font-size: 1.8em;
        }
        @media (max-width : 30em) {
            font-size: 1.25em;
            margin-left: 0.3rem;
        }
        @media (max-width : 20em) {
            font-size: 1em;
            margin-left: 0.2rem;
        }
    }

    .float-right {
        float: right;
    }

    .menu {
        font-size: 2em;
        vertical-align: middle;
        @media (max-width : 20em) {
            font-size: 1.5em;
        }
    }

    .container {
        padding: 1.5rem 0.6em 0.6em;
        position: relative;
    }

    .navigation-list {
        padding-inline-start: 0;
        position: absolute;
        top: 67%;
        transform: translateY(-50%);
        list-style-type: none;
        right: 0.5em;
        padding-right: 3rem;
        margin-block-start: 0;
        margin-block-end: 0;
        height: 2em;
        line-height: 2em;
        text-align: center;
        font-size: larger;
        @media (max-width : 56.25em) {
            position: absolute;
            top: 8em;
            right: 0;
            left: 0;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            padding: 0;
            max-height: 0;
            width: 100vw;
            background-color: $frame-bg-color;
            border-top: solid 2px $color-body-text;
            border-bottom: solid 2px $color-body-text;
            transition: opacity 0.25s, max-height 0.15s linear;
            height: auto;
        }

        .navigation-item {
            vertical-align: middle;
            display: inline;
            padding-left: 0.6em;
            @media (max-width : 56.25em) {
                float: none !important;
                text-align: center;
                display: block;

                a,
                a:active,
                a:focus,
                a:hover,
                a:visited {
                    color: $color-body-text;
                }

                a,
                span {
                    line-height: 3rem;
                    font-size: 1.6em;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            @media (max-width : 20em) {
                a,
                span {
                    line-height: 2.4rem;
                    font-size: 1.2em;
                }
            }
        }
    }

    &:after {
        background: $frame-bg-color;
    }
}

.top-nav .container {
    display: flex;

    .top-menu {
        float: right;
        margin: 1em auto;
        display: inline-block;
        position: initial;
    }
}

.menu-button {
    margin-right: 1.5em;
    cursor: pointer;
    margin-top: -1rem;
    @media (max-width: 56.25em) {
        display: inline-block;
    }
    @media (max-width : 45em) {
        margin-right: 1rem;
    }
    @media (max-width : 30em) {
        margin-right: 0.5rem;
    }
    @media (max-width : 20em) {
        margin-right: 0.2rem;
    }

    .menu-icon {
        vertical-align: bottom;
        height: 1.6em;
        width: 1.6em;
        margin-top: unset;
        @media (max-width: 56.25em) {
            display: inline-block;
        }
    }

    &:focus,
    &:hover {
        color: $color-link-text;
    }
    @media (min-width: 56.25em) {
        display: none;
    }
}

.page-container {
    position: relative;

    &:after {
        background: $color-bg;
    }
}

.zigzag:after {
    content: "";
    height: 2vw;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 2.5% 100%, 5% 0, 7.5% 100%, 10% 0,12.5% 100%,15% 0, 17.5% 100%, 20% 0,22.5% 100%,25% 0, 27.5% 100%, 30% 0,32.5% 100%,35% 0, 37.5% 100%, 40% 0,42.5% 100%,45% 0, 47.5% 100%, 50% 0,52.5% 100%,55% 0, 57.5% 100%, 60% 0,62.5% 100%,65% 0, 67.5% 100%, 70% 0,72.5% 100%,75% 0, 77.5% 100%, 80% 0,82.5% 100%,85% 0, 87.5% 100%, 90% 0,92.5% 100%,95% 0, 97.5% 100%, 100% 0);
}
/* See https://stackoverflow.com/a/54160649 */
.brick {
    background-color: $brick-bg-color;
    border-radius: 0.5em;
    margin: 0.6em;
    /* See https://stackoverflow.com/a/28152300
       and https://codepen.io/hyrumwhite/pen/MQLbjP */
    .body {
        &.list {
            width: 60%;
            margin: auto;
        }

        .text-content {
            a,
            a:active,
            a:focus,
            a:hover,
            a:visited {
                border-bottom: 2px dotted darken($brick-bg-color, 4%);
                display: inline-block;
                position: relative;

                &:after {
                    content: '';
                    width: 100%;
                    border-bottom: 2px dotted darken($brick-bg-color, 4%);
                    position: absolute;
                    bottom: -1px;
                    left: -2px;
                }
            }
        }
    }

    .overview-page-title {
        width: max-content;
        margin: auto;
    }

    .title {
        font-weight: normal;
        font-family: $font-heading;
        padding: 0.6rem 0.2rem;
        @media (max-width : 30em) {
            h1 {
                font-size: 1.5em;
            }
        }
        @media (max-width : 20em) {
            h1 {
                font-size: 1.2em;
            }
        }
    }

    .summary {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.2rem 0.3rem 0.2rem 0.2rem;
        max-height: calc(200px - 2rem - 4em);
        text-align: justify;
        @media (max-width : 30em) {
            max-width: 90%;
        }
    }
}

.brick-wall {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .brick {
        display: flex;
        height: 200px;
        width: fit-content;
        transition: transform 0.35s;
        @media (max-width : 30em) {
            height: unset;
            display: block;
        }
        @media (max-width : 56.25em) {
            width: 100%;
            max-width: unset;
        }

        &:hover {
            transform: scale(1.05) rotate(.9deg);
            @media (max-width : 56.25em) {
                transform: scale(1.05);
            }
        }

        &.landscape {
            .preview-img {
                max-width: 20em;
            }

            .summary {
                min-width: 27vw;
                @media (max-width : 56.25em) {
                    min-width: unset;
                }
            }
        }

        &.portrait {
            .preview-img {
                max-width: 9em;
            }

            .summary {
                min-width: 22vw;
                @media (max-width : 56.25em) {
                    min-width: unset;
                }
            }
        }

        &.other {
            .summary {
                min-width: 45vw;
                @media (max-width : 56.25em) {
                    min-width: unset;
                }
            }
        }

        .preview-img {
            display: inline-block;
            height: 200px;
            border-radius: 0.5em 0 0 0.5em;
            background-repeat: no-repeat;
            width: fit-content;
            position: relative;

            img {
                border-radius: 0.5em 0 0 0.5em;
                position: relative;
                height: 200px;
            }
            @media (max-width : 30em) {
                width: 100%;
                order: 1;
                max-width: unset !important;

                img {
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                    width: 100%;
                    height: unset;
                }
            }
        }

        .title {
            width: fit-content;
            padding-right: 0.6em;
            @media (max-width : 56.25em) {
                width: unset;
            }
            @media (max-width : 20em) {
                font-size: 0.9em;
            }
        }

        .container {
            margin: 0 0.6em;
            height: 200px;
            position: relative;
            width: min-content;
            @media (max-width : 56.25em) {
                width: unset;
            }

            p {
                margin-block-start: 0;
                margin-block-end: 0;
                overflow: hidden;
            }
            @media (max-width : 30em) {
                order: 2;
                width: 100%;
            }
        }

        .read-more {
            width: 100%;
            display: inline-block;
            height: 2.4em;
            position: absolute;
            bottom: 3px;
            right: 3px;
            padding-bottom: 0.4rem;
            background: linear-gradient(rgba($brick-bg-color, 0), rgba($brick-bg-color, 1) 30%);
            border-bottom-right-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
            @media (max-width : 30em) {
                width: calc(100% - 1em);
                right: 0.1em;
                left: 0.1em;
            }

            a {
                display: block;
                width: 100%;
                margin: auto;
                bottom: 0;
                text-align: center;
                position: absolute;
                padding-bottom: 0.4em;
                font-size: larger;
                white-space: nowrap;
            }
        }
    }
}

.post {
    &.brick {
        display: block;
    }

    .container {
        padding: 1.4em;
    }

    .date {
        text-align: center;
        margin: auto;
        display: block;
        width: fit-content;
        padding-bottom: 0.6rem;
        border-bottom: $color-body-text solid .2rem;
    }

    .title {}

    .body {}
}

.footer {
    width: 100%;
    padding: 2em 0 0.5em;
    margin: 0 auto;
    background-color: $frame-bg-color;

    .menu-footer {
        .menu {
            list-style-type: none;
            text-align: center;
            background-color: black;
            width: 100%;

            .menu-footer-items {
                padding: 0.4em 0;
                padding-inline-start: 0;
                display: inline-block;
                margin-block-start: 0;
                margin-block-end: 0;
                width: 100%;
            }

            .menu-item {
                padding: 0.4em 0.8em;
                display: inline;

                a {
                    color: $color-body-text;
                }
            }
        }
    }

    .credit {
        text-align: center;
        margin-top: 0.8em;
        font-size: smaller;

        p {
            margin: auto;

            &.projektemacher {
                padding: 0.6em 0;
                @media (max-width : 30em) {
                    font-size: smaller;
                }
            }
        }
    }
}

.tagcloud {
    margin: 0.6em;
    padding-left: 0.6em;

    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        border-bottom: none !important;

        &:after {
            border-bottom: none !important;
        }
    }

    .cloud-tag {
        padding: 0.5rem 1rem;
    }
}

.text-content figure img {
    margin: auto;
    max-width: 100%;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    color: $color-body-text;
}

.share {
    margin-right: 1em;
}

.tag-container {
    .tags-title {
        font-size: larger;
        margin-bottom: 0.6em;
        display: block;
    }

    .tags a {
        padding-right: 0.3em;
    }

    .tags-additional {
        font-size: small;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}
/* IIIF */
.book-description-images,
.description-images,
.iiif {
    .viewer {
        width: 100%;
        display: block;
        margin: auto;

        &.portrait {
            width: 75vw;
            height: calc(75vw * 1.5);
            @media (max-width: 37.5em) {
                width: 85vw;
                height: calc(85vw * 1.5);
            }
            @media (max-width: 30em) {
                width: 80vw;
                height: calc(80vw * 1.5);
            }
        }

        &.landscape {
            width: 75vw;
            height: calc(75vw / 1.5);
            @media (max-width: 37.5em) {
                width: 85vw;
                height: calc(85vw / 1.5);
            }
            @media (max-width: 30em) {
                width: 80vw;
                height: calc(80vw / 1.5);
            }
        }
    }

    .iiif-image {
        width: 100%;
        padding: 0.3em;
    }

    .iiif-image.cover {
        display: inline-block;
    }

    .iiif-image.cover {
        order: 1;
    }

    .iiif-image.front {
        order: 2;
    }

    .iiif-image.title {
        order: 3;
    }

    .lanscape {
        width: 100%;
    }

    .iiif-image.order-1 {
        order: 11;
        width: 100%;
    }

    .iiif-image.order-2 {
        order: 12;
        width: 100%;
    }

    .iiif-image.order-3 {
        order: 13;
        width: 100%;
    }

    .iiif-image.order-4 {
        order: 14;
        width: 100%;
    }

    .iiif-image.order-5 {
        order: 15;
        width: 100%;
    }

    .iiif-image.order-6 {
        order: 16;
        width: 100%;
    }

    .iiif-image.order-7 {
        order: 17;
        width: 100%;
    }

    .iiif-image.order-8 {
        order: 18;
        width: 100%;
    }
}

.book-description-images,
.description-images {
    margin: auto;
}

.inline-title {
    display: inline;
    height: 1.125em;
    vertical-align: sub;
}

.source {
    font-size: small;
    text-align: right;
    margin: 1.5em;
    margin-bottom: 4.5em;
    color: lighten(#6c757d, 20%);

    @media (max-width : 30em) {
        margin-bottom: unset;
    }

    a {
        color: lighten(#007bff, 20%);
    }
}

.img-center {
    text-align: center;
}
@media (min-width : 56.25em) {
    .navto-links {
        margin-right: 1em;
    }

    .navto-about {
        margin-right: 4rem;
    }
}

.meta-container {
    margin-bottom: 4em;
    display: flex;
    column-gap: 4em;
    @media (max-width : 56.25em) {
        display: unset;
        margin-bottom: 2em;
    }

    .building-info,
    .section-contents-list,
    .section-parent {
        font-size: 1.4em;
        font-weight: 400;
        font-family: $font-heading;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .tag-info-container,
    .post-relations {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }

    .meta-seperator {
        width: 70%;
    }

    ul {
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;

        li p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    .meta-title {
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        /* text-align: center; */
    }

    .meta-content {
        margin-left: 1.4rem;
    }

    h1 {
        font-size: 1em;
    }
}

.tab-wrapper {
    margin-top: 1rem;

    .tab-spacer {
        width: 100%;
    }
    .tab {
        background-color: #400000;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}
