/* TODO: Use color variables */
.iframe-wrapper {
  .opt-in-overlay .opt-in-overlay-content{
    border-radius: 0.5em;
    background-color: #112e63;

  }

  .iframe {
    $bg-color: #fdf3c9;

    .iframe-content {
      transition: height .5s;
    }

    .map-wrapper {
      aspect-ratio: 4 / 3;
      height: unset;
      width: 100%;

      .map {
        border-radius: 0.5em;

        .ol-viewport {
          border-radius: 0.5em;
        }

        .ol-popup-closer::after {
          content: "✖";
          color: rgb(102,0,0);
        }

        .ol-popup {
          color: rgb(102,0,0);
          background-color: $bg-color;

          a {
            color: rgb(102,0,0);
          }

          &::after, &::before {
              border-top-color: $bg-color;
          }
        }
      }
    }
  }
}
