@use "pagefind/ui" as *;

$search-light: '' !default;
$search-dark: '' !default;
$search-button-background-color: transparent !default;
$search-border-color-inactive: lightgrey !default;
$search-border-color-active: #ff073a !default;

:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: $frame-bg-color;
  --pagefind-ui-tag: #000;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: .5em;
  --pagefind-ui-image-border-radius: .5em;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}

.search-icon:after {
    display: inline-block;
    line-height: 1.8rem;
    content: url($search-light);
    vertical-align: middle;
}

.post.search {
  margin-top: 4rem;

  @media (max-width: 35em) {
    margin-top: 1rem;
  }
}

.post.search {

  .page-wrapper {
    display: flex;
    flex-direction: column;

    .main {
      flex-grow: 1;
    }
  }

  .post-title {
    font-family: $font-heading;
  }

  .content {
    .post.search {
      display: flex;
      flex-direction: column;
      width: 100%;

      .search-box-container {
        display: flex;
        font-size: larger;
        justify-content: center;

        @media (max-width: 35em) {
          margin-top: 4.2rem;
        }

        .search-input {
          border: 2px solid $frame-bg-color;
          border-right-width: 0;
          line-height: unset;
          width: 50%;
          /* font-size: 1rem; */
          font-size: inherit;
          transition: all 250ms;
          border-bottom-left-radius: var(--pagefind-ui-border-radius);
          border-top-left-radius: var(--pagefind-ui-border-radius);

          @media (max-width: 35em) {
            width: 60%;
          }

          &:focus-visible {
            outline: unset;
            outline-offset: unset;
            z-index: unset;
          }

          &:focus {
            border: 4px solid $frame-bg-color;
          }
        }

        .search-button {
          border: 2px solid $frame-bg-color;
          display: inline-flex;
          align-items: center;
          line-height: unset;
          height: 2em;
          padding: 0 .8em;
          color: inherit;
          background-color: $frame-bg-color;
          font-size: inherit;
          /* border-radius: unset; */
          border-bottom-right-radius: var(--pagefind-ui-border-radius);
          border-top-right-radius: var(--pagefind-ui-border-radius);

          @media (max-width: 35em) {
            padding: 0 .4em;
            font-size: 1.4rem;
          }

          .search-icon {
            margin-right: .6rem;

            &:after {
              content: url($search-light);
              transition: all 300ms;
              width: 1em;
              height: 1em;
              vertical-align: sub;
              }
          }
        }
      }

      .search-content {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        min-width: 80%;
        min-height: 6em;

        @media (max-width : 35em) {
          flex-direction: column;
        }

        .search-filter {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          max-width: 30%;


          @media (max-width: 75em) {
            max-width: 50%;
          }

          @media (max-width : 35em) {
            max-width: unset;
          }

          .search-filter-single {
            display: flex;
            justify-content: flex-end;
            padding: .8rem;
            margin-top: 1.6rem;
            border: var(--pagefind-ui-border-width) solid var(--pagefind-ui-border);

            &:not(:has(.pagefind-modular-filter-pill)) {
              display: none;
            }

            legend {
              margin-top: 1.4rem;
              font-size: larger;
              margin-left: auto;
            }
          }

          .pagefind-modular-filter-pills-wrapper {
            overflow-x: unset;
            padding: unset;

            .pagefind-modular-filter-pills {
              flex-wrap: wrap;
              justify-content: flex-end;

              .pagefind-modular-filter-pill {
                padding: .8rem;
                height: 2.4rem;
                border-radius: .5em;
                line-height: unset;
                color: #000;

                &:has(span[data-filter-count="0"]) {
                  opacity: 0;
                  display: none
                }
              }
            }
          }
        }

        .search-result-container {
          padding-left: .4rem;

          .pagefind-modular-list-result {
            border-top: unset;
            padding: 1rem 0;

            &:last-of-type {
              border-bottom: unset;
            }

            .pagefind-modular-list-thumb {
              width: 330px;

            }

            .pagefind-modular-list-title {
              .pagefind-modular-list-link {
                &:before,
                &:after {
                    content: unset !important;
                }
              }
            }

            .pagefind-modular-list-excerpt {
              font-size: unset;
            }
          }
        }
      }
    }
  }
}
