{{- $contextPath := .contextPath -}}
{{- $pageURL := .pageURL -}}
{{- $class := "" -}}
{{- $orientation := "" -}}
{{- $rotation := 0 -}}
{{- $images := newScratch -}}
{{- if .context.params.class -}}
    {{- $class = .context.params.class -}}
{{- end -}}
{{- if isset .context "name" -}}
    {{- $images.Set "master" ((.pageContext.Resources.ByType "image").GetMatch .context.name) -}}
{{- else -}}
    {{- $images.Set "master" ((.pageContext.Resources.ByType "image").GetMatch .context.src) -}}
{{- end -}}

{{- $masterImg := $images.Get "master" -}}
{{- if eq $masterImg nil -}}
    {{- warnf "Cant find image %s" (path.Join .contextPath .context.src) -}}
{{- end -}}

{{ if lt $masterImg.Width $masterImg.Height }}
    {{- $orientation = "portrait" -}}
{{- else -}}
    {{- $orientation = "landscape" -}}
{{- end -}}

{{- if .context.params.rotate -}}
    {{- $rotation = .context.params.rotate -}}
    {{- if and (or (eq $rotation "90") (eq $rotation "-90")) (eq $orientation  "portrait") -}}
        {{- $orientation = "landscape" -}}
    {{- else if and (or (eq $rotation "90") (eq $rotation "-90")) (eq $orientation  "portrait") -}}
        {{- $orientation = "portrait" -}}
    {{- end -}}
{{- end -}}

{{- $mapName := replace (replace (replace .context.params.iiif "/" "_") "." "") "-" "_" -}}
{{- $infoJson := printf "/%s" (path.Join $contextPath .context.params.iiif) -}}
{{- $baseURL := printf "/%s/%s/" $contextPath (path.Dir .context.params.iiif) -}}

<div class="iiif-image {{ $class | safeHTML }} {{ $orientation | safeHTML }}">
    <a name="{{ $mapName }}"></a>
    <div id="{{ $mapName }}" class="viewer {{ $class | safeHTML }} {{ $orientation | safeHTML }}"></div>

    <script type="text/javascript">
        {{ $mapName | safeJS }}_Div = document.getElementById("{{ $mapName }}");
        {{ $mapName | safeJS }} = addMap({{ $mapName | safeJS }}_Div, "{{ $infoJson }}", {{ $rotation }}, {{ $baseURL }});
    </script>
    <div class="share">
        {{ $downloadURL := printf "%s" .context.src }}
        <a href="{{ $downloadURL }}" class="image-download">Volle Auflösung herunterladen</a> |
        <a href="{{ $infoJson }}" class="iiif-link">IIIF Manifest</a> |
        <a href="{{ $pageURL }}#{{ $mapName }}" class="image-link">Link zu diesem Bild</a>
    </div>
  </div>
