{{- $context := path.Dir .File.Path -}}
{{- $entry := . -}}
{{- $orientation := "" -}}
{{- $fit := "x200" -}}
{{- $previewImg := "" -}}
{{- $images := newScratch -}}

{{- range .Params.resources -}}
    {{- if eq .name "front" -}}
        {{- $images.Set "previewLoc" (path.Join $context .src) -}}
        {{- $images.Set "preview" (($entry.Resources.ByType "image").GetMatch .name) -}}

    {{ end }}
{{ end }}

{{- $imgLocation := $images.Get "previewLoc" -}}
{{- $previewImg := $images.Get "preview" -}}
{{- if eq $previewImg nil -}}
    {{- warnf "Can't find image %s for post %s" $imgLocation $context -}}
{{- end -}}

{{/*
To use real brick dimensions see https://www.hausjournal.net/ziegelsteine-masse-der-uebersicht
You can use https://www.eckgolds-fotoecke.de/seitenverhaeltnis/ to do your calculations
*/}}


{{ if lt $previewImg.Width $previewImg.Height }}
    {{- $orientation = "portrait" -}}
{{- else -}}
    {{- $orientation = "landscape" -}}
{{- end -}}
{{- $previewImg = $previewImg.Fit (printf "%s %s" $fit "center") -}}
<div class="brick {{ .Params.type }} {{ $orientation }}">
    <a href="{{ .RelPermalink }}">

            <div class="preview" >
{{/*
                style="background-image: url({{ $previewImg.RelPermalink | safeCSS }});"
*/}}
<img src="{{ $previewImg.RelPermalink }}" alt="{{ .Title}}">
            </div>
            <div class="summary">
                {{ .Summary }}
            </div>
        <div class="list-entry">

        </div>
    </a>
</div>
