{{- $context := path.Dir .File.Path -}}
{{- $entry := . -}}
{{- $orientation := "" -}}
{{- $fit := "600x300" -}}
{{- $previewImg := "" -}}
{{- $images := newScratch -}}

{{- range .Params.resources -}}
    {{- if or (eq .name "front") (eq .name "preview") -}}
        {{- $images.Set "previewLoc" (path.Join $context .src) -}}
        {{- $images.Set "preview" (($entry.Resources.ByType "image").GetMatch .name) -}}
        {{- $images.Set "params" (.params) -}}
        {{- $images.Set "context" ($entry) -}}
    {{ end }}
{{ end }}

{{- $imgLocation := $images.Get "previewLoc" -}}

{{- $previewImg := $images.Get "preview" -}}
{{/* Check for JXL */}}
{{- if eq (string $previewImg.MediaType) "image/jxl" -}}
    {{- if not $previewImg.Name -}}
        {{- warnf "JXL Reference in %s, but no 'name' set, using default" ($images.Get "context").File.Path -}}
    {{- end -}}
    {{- $previewImg = partial "iiif/preview.html" (dict "context" ($images.Get "context") "name" $previewImg.Name) -}}
{{- end -}}

{{- $params := $images.Get "params" -}}
{{- if eq $previewImg nil -}}
    {{- warnf "Can't find image %s for post %s" $imgLocation $context -}}
{{- end -}}

{{/*
To use real brick dimensions see https://www.hausjournal.net/ziegelsteine-masse-der-uebersicht
You can use https://www.eckgolds-fotoecke.de/seitenverhaeltnis/ to do your calculations
*/}}

{{- $rotate := "" -}}
{{- if isset $params "rotate" -}}
    {{- $rotate = printf " r%d" (add $params.rotate  180) -}}
{{- end -}}
{{- $imgOptions := (printf "%s %s %s" $fit $rotate "center") -}}
{{- $previewImg = $previewImg.Fit $imgOptions -}}

{{- if lt $previewImg.Width $previewImg.Height -}}
    {{- $orientation = "portrait" -}}
{{- else -}}
    {{- $orientation = "landscape" -}}
{{- end -}}

<div class="brick {{ .Params.type }} {{ $orientation }}">
    {{- if ne .Params.type "other" -}}
        <a href="{{ .RelPermalink }}">
            <div class="preview-img" >
                <img src="{{ $previewImg.RelPermalink }}" alt="{{ .Title}}">
            </div>
        </a>
    {{- end -}}
    <div class="container">
        <a href="{{ .RelPermalink }}">
            {{- $title := "" -}}
            {{- if eq .CurrentSection.Title "" -}}
                {{- $title = .Title -}}
            {{- else if eq .CurrentSection.Title .Title -}}
                {{- $title = .Title -}}
            {{- else -}}
                {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
            {{- end -}}
            <div class="title">
                {{ $title }}
            </div>
            <div class="summary">
                {{ .Summary | plainify }}
                {{/*
                {{ partial "macros/strip-links.html" . }}
                */}}
            </div>
        </a>
        <div class="read-more">
            <a href="{{ .RelPermalink }}">Beitrag ansehen</a>
        </div>
    </div>

</div>
