{{- $context := . -}}
{{- $contextPath := path.Dir $context.File.Path -}}
{{- $orientation := "" -}}
{{- $fit := "600x300" -}}
{{- $previewImg := partial "preview/preview-internal.html" (dict "context" $context "fit" $fit) -}}

{{- if lt $previewImg.Width $previewImg.Height -}}
  {{- $orientation = "portrait" -}}
{{- else -}}
  {{- $orientation = "landscape" -}}
{{- end -}}

<div class="brick {{ .Params.type }} {{ $orientation }}">
    {{- if ne .Params.type "other" -}}
        <a href="{{ .RelPermalink }}">
            <div class="preview-img" >
                <img src="{{ $previewImg.RelPermalink }}" alt="{{ .Title}}">
            </div>
        </a>
    {{- end -}}
    <div class="container">
        <a href="{{ .RelPermalink }}">
            {{- $title := "" -}}
            {{- if eq .CurrentSection.Title "" -}}
                {{- $title = .Title -}}
            {{- else if eq .CurrentSection.Title .Title -}}
                {{- $title = .Title -}}
            {{- else -}}
                {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
            {{- end -}}
            <div class="title">
                {{ $title }}
            </div>
            <div class="summary">
                {{ .Summary | plainify | htmlUnescape }}
            </div>
        </a>
        <div class="read-more">
            <a href="{{ .RelPermalink }}">Beitrag ansehen</a>
        </div>
    </div>

</div>
