<div class="metadata">
        <div class="date">
          <a href="{{ .RelPermalink }}">
            {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
          </a>
          {{ if .Site.Params.linkTumblr }}
              {{ if .Params.tumblr_url }}
                <span class="tumblr-url">
                  <a href="{{ .Params.tumblr_url }}">Original auf Tumblr</a>
                </span>
              {{ end }}
          {{ end }}
        </div>
        <div class="tags">
            {{ if isset .Params "tags" }}
                {{ range $tag := .Params.tags }}
                    <a href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">#{{ $tag }}</a>
                {{ end }}
            {{ end }}
        </div>
      </div>
