{{- $page := .Page -}}

<main class="content">
    <div class="post brick">
      <div class="container">
        {{- if not .Params.metaPage -}}
          <div class="date">
              {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
          </div>
        {{- end -}}
        <div class="title">
            <h1>{{ .Title }}</h1>
        </div>

          <div class="body">

            <div class="text-content">
              {{ .Content }}
            </div>

            <div class="iiif">
              {{- $context := path.Dir .File.Path -}}
              {{- $pageURL := .Permalink -}}
              {{- range .Params.resources -}}
                {{- if or (and (ne $.Params.type "work") (ne $.Params.type "book")) (not (or (or (eq .name "front") (eq .name "title")) (eq .name "cover"))) -}}
                  {{- if .params.iiif -}}
                    {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page "site" $.Site) }}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
            </div>

            {{- if and .Params.type .Params.description -}}
              <div class="{{ .Params.itemType }}-description">
                {{- if eq .Params.type "book" -}}
                    <h1>{{ i18n "aboutTheNeu" }} {{ i18n "book" }}</h1>
                {{- else if eq .Params.itemType "postcard" -}}
                    <h1>{{ i18n "aboutTheNeu" }} {{ i18n "postcard" }}</h1>
                {{- else if eq .Params.itemType "other" -}}
                    <h1>{{ i18n "aboutTheFem" }} {{ i18n "other" }}</h1>
                {{- end -}}

                {{- .Params.description | markdownify -}}
              </div>
            {{- end -}}

            {{- if or (eq .Params.type "book") -}}
              <div class="book-description-images">
                {{- range .Params.resources -}}
                  {{- if or (or (eq .name "front") (eq .name "title")) (eq .name "cover") -}}
                    {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page  "site" $.Site) }}
                  {{- end -}}
                {{- end -}}
              </div>
            {{- end -}}
          </div>
          {{- if not .Params.metaPage -}}
              <div class="tag-container">
                  <span class="tags-title">Schlagworte</span>
                    {{- partial "metadata.html" . -}}
              </div>
          {{- end -}}
        </div>
    </div>
</main>
<div class="pagination-spacing"></div>
