{{/* This gets called by the og-preview template */}}
{{- $context := .context -}}
{{- $width := .width -}}
{{- $height := .height -}}
{{- $contextPath := "NOTFILEBACKED" -}}

{{- if and (ne $context.File nil) (ne $context.File.Path nil) -}}
  {{- $contextPath = path.Dir $context.File.Path -}}
{{- end -}}

{{- $previewImg := "" -}}

{{- if (strings.HasPrefix $contextPath "tags") -}}
  {{- $tags := site.Taxonomies.tags.Get (replace $context.File.ContentBaseName "." "") -}}
  {{- if eq $tags nil -}}
    {{- warnf "[partials/preview/image.html] No tag page for %s" $context.File.ContentBaseName -}}
  {{- else -}}
    {{- range $tags -}}
      {{- $previewImg = partial "preview/preview-internal.html" (dict "context" . "fit" (printf "%dx%d" $width $height)) -}}
      {{- if ne $previewImg "" -}}
        {{- break -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if and (strings.HasPrefix $contextPath "post") (ne $contextPath "post") -}}
  {{- $previewImg = partial "preview/preview-internal.html" (dict "context" $context "fit" (printf "%dx%d" $width $height)) -}}
{{- end -}}

{{- return $previewImg -}}
